@import "tailwindcss";

@theme {
  --color-dark-bg: #121212;
  --color-dark-panel: #1e1e1e;
  --color-dark-text: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-dark-bg);
  color: var(--color-dark-text);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
